:root{
    --cor-principal: #333;
    --cor-segundaria: #04AA6D;
    --font-family: 'arvo', serif;
}

body {
    background-color: var(--cor-segundaria);
    font-family: var(--font-family);
    margin: 0;
    padding-top: 1rem;
}

#content{
    width: 100%;
}

#about{
    padding: 5vw;
    display: flex;
}
.colun{
    padding: 1vw;
}
.colun p{
    font-size: 1.5vw;
}
#login{
    position: relative;
    padding: 1vw 10vw;
    right: -65vw;
    font-family: var(--font-family);
    font-weight: bold;
    color: white;
    background-color: var(--cor-principal);
    outline: none;
    border-style: none;
    
}
#login:hover{
    background-color: white;
    color: var(--cor-principal);
}
#login:active{
    color: white;
    background-color: var(--cor-principal);
}





/*Roda pe*/
footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:100px; 
    background-color: var(--cor-principal);
    display: flex;
}

.colun_footer a{
    color: white;
}
/*Roda pe*/

/*Barra de pesquisa*/
.search{
    padding: 1vw 1.5vw;
    background-color: white;
    width: min-content;
    border-radius: 100px;
    position: absolute;
    bottom: 35vw;
    right: 30vw;
    display: none;
}
.search div{
    display: flex;
}
.search input{
    font-size: 15pt;
    width: 35vw;
    border: none;
    outline: none;
}
.search i{
    font-size: 1.8vw;
}
/*Barra de pesquisa*/