:root{
    --cor-principal: #333;
    --cor-segundaria: #04AA6D;
}

body {
    background-color: var(--cor-segundaria);
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding-top: 1rem;
}
header {
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-around;
}
header div{
    padding: 1.5vw 0vw;
    width: max-content;
}

header label {
    position: relative;
    color: #f2f2f2;
    padding: 1.6vw 10.39vw;
    font-size: 1.5vw;
    width: 100%;
}



header label:hover {
    background-color: #ddd;
    color: black;
}

header label.active {
    background-color: var(--cor-segundaria);
    color: white;
}

header input[type='radio']{
    display: none;
}
header input[type='radio']:checked + label{
    background-color: var(--cor-segundaria);
}

.search{
    padding: 1vw 1.5vw;
    background-color: white;
    width: min-content;
    border-radius: 100px;
}
.search div{
    display: flex;
}
.search input{
    font-size: 15pt;
    width: 25vw;
    border: none;
    outline: none;
}